/*This partains to styles found in all pages*/
* {box-sizing: border-box;}
body {
    font-family: "Verdana", Arial, sans-serif;
}
nav {
    text-align: right;
    height: 50px;
}
nav ul {
    background-color: #339c5e; 
    position: fixed;
    top: 0; left: 0;                              /*line 9 and line 10 allow the navbar to reach all sides of the page*/
    margin: 0; padding: 0;                        /* they are written like this because it looks better*/
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    height: 55px;
    padding-top: 15px;
}
nav li {
    display: inline;
    text-transform: uppercase;
}

nav li a {
    padding: 24px 16px;
    text-align: center;
    text-decoration: none;
}

nav a:link {color: #ffe000;}
nav li a:hover {color: #dbc000;}
nav a:visited {background-color: #339c5e; color: #ffe000}

.container {
    padding: auto;
    margin: auto;
    width: 80%;
}

footer {
    position: fixed;
    left: 0; bottom: 0;                                             /*again see that top comment*/
    border-top: 1px solid lightgreen;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px
}

.footer-notes {
    font-size: small;
    text-decoration: none;
    color: #339c5e;
}

.social-icon:hover {
    background-color: #339c5e;
}

.social-icon {
    height: 2em;
    width: 2em;
}

.rainbow-icon {
    height:2em;
    width: 2em;
}

.rainbow-icon:hover {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}