* {box-sizing: border-box;}
.Welcome {
    text-align: center;
}

.sponsor-img {
    width: 40%;
    vertical-align: middle;
}

.resources a{
    list-style-type: none;
    text-decoration: none;
    color: #339c5e;
}

.resources a:visited {color: #339c5e;}
.resources a:link {color: #339c5e;}
.resources a:hover {color: #2a844f;}

h4 {
    text-align: left;
}
aside {
    border: 1px solid green;
    width: 300px;
    float: right;
    padding: 20px;
    margin-bottom: 20px;
}

aside a {
    text-decoration: none;
    color: green;
    padding-left: 20px;
}

aside a:hover {
    text-decoration: none;
    color: yellow;
}

aside ul{
    list-style-type: none;
}

.blogs-p {
    color: lightgrey;
}